@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;400;0,500;600;1,400&display=swap");

.detailsHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.textBox {
  border-radius: 10px;
  background: #d7c6ac;
  width: auto;
  margin-top: -10px;
  padding: 10px;
}

p {
  font-weight: 500;
}

hr {
  color: black;
}
